:root {
  /* Colors */
  --color-primary: rgba(248 112 112 / 100%);
  --color-primary-faded: rgba(248 112 112 / 80%);
  --color-text: #d7e0ff;
  --color-dark-text: #1e213f;
  --color-bg: #1e213f;
  --color-component-bg: #161932;
  --color-white: #fff;
  --color-border: #e3e1e1;
  --color-background-blue: #eff1fa;
  --color-error: #ff0000;

  /* Font */
  --font-kumbh-sans: 'Kumbh sans', sans-serif;
  --font-roboto-slab: 'Roboto Slab', serif;
  --font-space-mono: 'Space Mono', monospace;

  /* Colors Theme */
  --color-red-theme: #f87070;
  --color-blue-theme: #70f3f8;
  --color-purple-theme: #d881f8;
}
